.red-light {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #E74C3C;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    box-shadow:0 0 3px #E74C3C;
    margin-right:5px;
}

.yellow-light {
    display:inline-block;
    width:12px;
    height:12px;
    background:#F1C40F;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    box-shadow:0 0 3px #F1C40F;
    margin-right:5px;
}

.green-light {
    display:inline-block;
    width:12px;
    height:12px;
    background:#2ECC71;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    box-shadow:0 0 3px #2ECC71;
    margin-right:5px;
}

.ended-light {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #E74C3C;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    box-shadow:0 0 3px #E74C3C;
    margin-right:5px;
}

.paused-light {
    display:inline-block;
    width:12px;
    height:12px;
    background:#F1C40F;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    box-shadow:0 0 3px #F1C40F;
    margin-right:5px;
}

.running-light {
    display:inline-block;
    width:12px;
    height:12px;
    background:#2ECC71;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    box-shadow:0 0 3px #2ECC71;
    margin-right:5px;
}

.loading-mask {
    width:100%;
    height:100%;
    margin:20px auto 20px auto;
    background-color:white;
    position:relative;
    left:0;
    top:0;
    display:none;
    z-index:1000;
}

.flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}

.flex-container > .flex-item {
	-webkit-flex: auto;
	flex: auto;
}

.flex-container > .raw-item {
	right:20px;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #BBB;
    -moz-box-shadow: 0 8px 6px -6px #BBB;
    box-shadow: 0 8px 6px -6px #BBB;

    /* the rest of your styling */
}
